.userBlock {

    display: flex;
    gap: 10px;
    
    div {
        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            font-weight: bold;
            font-size: 18px;
        }

    }

    p {
        font-size: 16px;
    }
}

.userList {
    list-style: none;
}

.userSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 20px;
}